//  ---------------------- Fonts ------------------------

/* open-sans-regular - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Open Sans Regular'), local('OpenSans-Regular'),
         url('../fonts/open-sans-v17-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/open-sans-v17-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  
/* open-sans-italic - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: local('Open Sans Italic'), local('OpenSans-Italic'),
         url('../fonts/open-sans-v17-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/open-sans-v17-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  
/* open-sans-600 - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'),
         url('../fonts/open-sans-v17-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/open-sans-v17-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  
/* open-sans-700 - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('Open Sans Bold'), local('OpenSans-Bold'),
         url('../fonts/open-sans-v17-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/open-sans-v17-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

// ---------------------- Débugueur ------------------------

// * {
//     outline: 1px solid #000;
// }

// ---------------------- Style ------------------------

body {
    font-family: 'Open sans', sans-serif;
    line-height: 1.8;
}

@media screen and (max-width: 57.999em) {
    body[data-burger="true"] {
        overflow: hidden;
    }
}

header {
    color: #fff;
    background-color: $primary;
    padding: .8rem 1rem;
    position: fixed;
    z-index: 1000;
    min-width: 100%;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    p {
        font-size: 1.8rem;
        font-weight: 700;
        z-index: 1;
    }

    .menu {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: $primary;
        transition: transform .3s ease-in-out;
        padding-top: 10rem;
        padding-bottom: 8rem;
        font-size: 2rem;

            &[hidden] {
                transform: translateY(-100%);
            }

            a {
                color: #fff;
                text-decoration: none;
                padding: 1.2rem;
                position: relative;

                &::after {
                    content: '';
                    background-color: transparent;
                    height: .1rem;
                    position: absolute;
                    left: 5rem;
                    right: 5rem;
                    transition: background-color .2s ease-in, left .4s ease-in-out, right .4s ease-in-out;
                }

                &::after,
                &::after {
                    bottom: 15%;
                }

                &:hover::before,
                &:focus::before,
                &:hover::after,
                &:focus::after {
                    background-color: #fff;
                    left: 1.2rem;
                    right: 1.2rem;
                }
            }
    }
}

.toggle-menu {
    position: relative;
    border: 0;
    width: 5rem;
    height: 4.4rem;
    padding: 2.1rem 1rem;
    background-color: #fff;
    background-clip: content-box;
    cursor: pointer;
    transition: background-color .3s ease-in-out;
    z-index: 1;
}

.toggle-menu::before,
.toggle-menu::after {
    content: '';
    position: absolute;
    left: 1rem;
    right: 1rem;
    height: .2rem;
    background-color: #fff;
    transition: transform .3s ease-in-out; 
}

.toggle-menu::before {
    top: 1.2rem;
}

.toggle-menu::after {
    bottom: 1.2rem;
}

.toggle-menu[aria-expanded="true"] {
    background-color: rgba(250, 250, 250, 0);
}

.toggle-menu[aria-expanded="true"]::before {
    transform: translateY(.9rem);
}

.toggle-menu[aria-expanded="true"]::after{
    transform: translateY(-.9rem);
}

@media screen and (min-width: 58em) {
    header {
        .container {
            align-items: baseline;
        }

        .menu {
            position: static;
            flex-direction: row;
            justify-content: space-between;
            font-size: 1.6rem;
            padding-top: 0;
            padding-bottom: 0;
        }
    
        .menu[hidden] {
            transform: translateY(0);
        }
    }

    .toggle-menu {
        display: none;
    }
}

// ajouter le scroll vers le haut pour corriger les ancres
section {
    padding: 2rem 1rem;
}

h2 {
    color: $primary;
    font-weight: 700;
    font-size: 2em;
    text-align: center;
    margin-bottom: 2rem;
}

@media screen and (min-width: 45em) {
    h2 {
        text-align: left;
    }
}

h3 {
    font-size: 1.6rem;
}

a {
    text-decoration: none;
    color: $primary;
    transition: color .2s ease-in-out;

        &:hover,
        &:focus {
            color: $secondary;
        }
}

.container {
    width: 100%;
}

@media screen and (min-width: 45em) {
    .container {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}

.about {
    min-height: 85vh; // à améliorer avec variable JS
    background-image: url('../img/portrait.jpg');
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;

        h1 {
            font-size: 6rem;
            color: $primary;
            line-height: 1.2;

                em {
                    color: $secondary;
                    font-style: italic;
                }

                span {
                    display: block;
                }
        }

        .min-screen {
            font-size: 1.6rem;
            font-family: 'Courier New', Courier, monospace;
            font-weight: 700;
        }

        .max-screen {
            display: none;
        }

        .information {
            position: absolute;
            top: 15%;
            left: 2%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
}

@media screen and (min-width: 45em) {
    .about {
        h1 {
            font-size: 8rem;
        }

        .min-screen {
            display: none;
        }

        .max-screen {
            display: block;
            font-size: 1.4rem;
            font-family: 'Courier New', Courier, monospace;
            font-weight: 700;
        }

        .information {
            top: 15%;
            right: 0;
            align-items: flex-end;
        }
    }
}

.information {
    &>li {
        height: 6rem;
        width: 6rem;
        background-color: $primary;
        border-radius: 3em;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        margin-bottom: 2rem;
        margin-right: 2rem;
        line-height: 1.2;
        transition: width .3s ease-in-out;
        overflow: hidden;

            &:hover ul li,
            &:focus ul li{
                color: #fff;
            }

            // une astuce pour améliorer la performance ici ?
            &:hover,
            &:focus {
                width: 18rem;
            }
    }

    li svg {
        fill: #fff;
        min-width: 3rem;
        max-width: 3rem;
    }

    li ul {
        margin-left: 2rem;

            li {
                min-width: 10rem;
                color: transparent;
                transition: color .2s ease-in-out .2s;
            }
    }
}

.resume {
    background-color: $primary;
    color: #fff;
    text-align: center;
}

.education,
.experiences {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.education article {
    display: grid;
    grid-template-areas: 
        "date"
        "titre"
        "details";
    justify-content: center;
    text-align: center;
    margin-bottom: 3rem;

        .date {
            grid-area: date;
        }

        .content {
            grid-area: titre;
            margin-top: 0;
            font-weight: 600;
            min-width: max-content;
        }

        p[class = "coding-skills"],
        ul[class = "coding-skills"],
        ul[class="mooc"] {
            grid-area: details;
            justify-self: center;
        }
}

.experiences article {
    min-width: 100%;
    display: grid;
    grid-template-areas: 
        "date"
        "titre"
        "poste"
        "skills"
        "code";
    justify-content: center;
    align-items: baseline;
    margin-bottom: 3rem;
    text-align: center;

        .date {
            grid-area: date;
        }

        h3 {
            grid-area: titre;
            font-weight: 600;
        }

        .content {
            grid-area: poste;
        }        
        
        ul {
            grid-area: skills;
            text-align: left;
            min-width: 100%;
        }

        p[class = "coding-skills"],
        ul[class = "coding-skills"] {
            grid-area: code;
            justify-self: center;
        }
}

p[class = "coding-skills"],
ul[class = "coding-skills"] {
    max-width: max-content;
    padding: .5rem 1.5rem;
    background-color: $primary;
    color: #fff;
    position: relative;
    margin-top: 1.5rem;

        &::before {
            content: '';
            border-bottom: 1rem solid $primary;
            border-left: .8rem solid transparent;
            border-right: .8rem solid transparent;
            height: 0;
            width: 0;
            position: absolute;
            top: -1rem;
            left: calc(50% - .8rem);
        }
}

@media screen and (min-width: 45em) {
    .education,
    .experiences {
        .container {
            align-items: flex-start;
        }
    }

    .education article {
        grid-template-areas:
            "date titre"
            "vide details";
        text-align: left;
        justify-content: left;
    }

    .experiences article {
        grid-template-areas: 
            "date titre"
            "vide poste"
            "vide skills"
            "vide code";
        text-align: left;
        justify-content: left;
    }

    .date {
        display: inline-block;
        min-width: 10rem;
    
        + p {
            display: inline-block;
            max-width: calc(100% - 10.5rem);
            vertical-align: top;
            margin-top: 0;
        }
    }

    .education article,
    .experiences article {
        p[class = "coding-skills"],
        ul[class = "coding-skills"],
        ul[class="mooc"] {
            margin-left: 3rem;
            justify-self: left;
        }

        .coding-skills::before,
        ul[class = "coding-skills"]::before {
            left: 1rem;
        }
    }
}

.hobbies {
    background-color: $primary;

        h2 {
            color: #fff;
        }

        .activities {
            display: grid;
            grid-template-columns: 1fr;
            grid-auto-rows: max-content;
            justify-items : center;
        
                li {
                    width: 40%;
                    padding: 0 2rem 2rem 2rem;
                }
        
                svg {
                    fill: #fff;
                }
        }
}

@media screen and (min-width: 28em) {
    .hobbies .activities {
        grid-template-columns: repeat(2, 1fr);

        li {
            width: 50%;
        }
    }
}

@media screen and (min-width: 45em) {
    .hobbies .activities {
        grid-template-columns: repeat(3, 1fr);

        li {
            width: 60%;
        }
    }
}

@media screen and (min-width: 58em) {
    .hobbies .activities {
        grid-template-columns: repeat(6, 1fr);

        li {
            width: 80%;
        }
    }
}

.contact {
    svg {
        width:6%;
    }
}