//  ---------------------- Fonts ------------------------

/* open-sans-regular - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Open Sans Regular'), local('OpenSans-Regular'),
         url('../fonts/open-sans-v17-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/open-sans-v17-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  
/* open-sans-italic - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: local('Open Sans Italic'), local('OpenSans-Italic'),
         url('../fonts/open-sans-v17-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/open-sans-v17-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  
/* open-sans-600 - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'),
         url('../fonts/open-sans-v17-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/open-sans-v17-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  
/* open-sans-700 - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('Open Sans Bold'), local('OpenSans-Bold'),
         url('../fonts/open-sans-v17-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/open-sans-v17-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

// ---------------------- Débugueur ------------------------

// * {
//     outline: 1px solid #000;
// }

// ---------------------- Style ------------------------

body {
    font-family: 'Open sans', sans-serif;
    line-height: 1.8;
}

header {
    color: #fff;
    background-color: $primary;
    padding-top: .8rem;
    padding-bottom: .8rem;
    position: fixed;
    z-index: 1000;
    min-width: 100%;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }

    p {
        font-size: 1.8rem;
        font-weight: 700;
    }

    .menu {
        display: flex;
        justify-content: space-between;

            a {
                color: #fff;
                text-decoration: none;
                padding: 1.2rem;
                position: relative;

                &::after {
                    content: '';
                    background-color: transparent;
                    height: .1rem;
                    position: absolute;
                    left: 5rem;
                    right: 5rem;
                    transition: background-color .2s ease-in, left .4s ease-in-out, right .4s ease-in-out;
                }

                &::after,
                &::after {
                    bottom: 15%;
                }

                &:hover::before,
                &:focus::before,
                &:hover::after,
                &:focus::after {
                    background-color: #fff;
                    left: 1.2rem;
                    right: 1.2rem;
                }
            }
    }
}

// ajouter le scroll vers le haut pour corriger les ancres
section {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

h2 {
    color: $primary;
    font-weight: 700;
    font-size: 2em;
}

h3 {
    font-size: 1.6rem;
}

a {
    text-decoration: none;
    color: $primary;
    transition: color .2s ease-in-out;

        &:hover,
        &:focus {
            color: $secondary;
        }
}

.container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#about {
    min-height: 85vh; // à améliorer avec variable JS
    background-image: url('../img/portrait.jpg');
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;

        h1 {
            font-size: 8rem;
            color: $primary;
            line-height: 1.2;

                em {
                    color: $secondary;
                    font-style: italic;
                }

                span {
                    display: block;
                }
        }

        pre {
            font-size: 1.4rem;
        }

        .information {
            position: absolute;
            top: 15%;
            right: 2%;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
        }
}

.information {
    &>li {
        height: 6rem;
        width: 6rem;
        background-color: $primary;
        border-radius: 3em;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        margin-bottom: 2rem;
        line-height: 1.2;
        transition: width .3s ease-in-out;
        overflow: hidden;

            &:hover ul li,
            &:focus ul li{
                color: #fff;
            }

            // une astuce pour améliorer la performance ici ?
            &:hover,
            &:focus {
                width: 18rem;
            }
    }

    li svg {
        fill: #fff;
        min-width: 3rem;
        max-width: 3rem;
    }

    li ul {
        margin-left: 2rem;

            li {
                min-width: 10rem;
                color: transparent;
                transition: color .2s ease-in-out .2s;
            }
    }
}

.resume {
    background-color: $primary;
    color: #fff;
    text-align: center;
}

.date {
    display: inline-block;
    min-width: 10rem;

    + p,
    + h3 {
        display: inline-block;
        font-weight: 600;
    }
}

.coding-skills,
ul[class = "coding-skills"] {
    max-width: max-content;
    padding: .5rem 1.5rem;
    background-color: $primary;
    color: #fff;
    position: relative;
    margin-top: 1.5rem;
    margin-left: 12rem;
}

ul[class="mooc"] {
    margin-left: 12rem;
}

.coding-skills::before {
    content: '';
    border-bottom: 1rem solid $primary;
    border-left: .8rem solid transparent;
    border-right: .8rem solid transparent;
    height: 0;
    width: 0;
    position: absolute;
    top: -1rem;
    left: 1rem;
}