//  ---------------------- Fonts ------------------------

/* open-sans-regular - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Open Sans Regular'), local('OpenSans-Regular'),
         url('../fonts/open-sans-v17-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/open-sans-v17-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  
/* open-sans-italic - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: local('Open Sans Italic'), local('OpenSans-Italic'),
         url('../fonts/open-sans-v17-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/open-sans-v17-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  
/* open-sans-600 - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'),
         url('../fonts/open-sans-v17-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/open-sans-v17-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  
/* open-sans-700 - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('Open Sans Bold'), local('OpenSans-Bold'),
         url('../fonts/open-sans-v17-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/open-sans-v17-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }


// ---------------------- Style ------------------------

body {
    font-family: 'Open sans', sans-serif;
    line-height: 1.8;
}

header {
    color: #fff;
    background-color: $primary;
    padding-top: .8rem;
    padding-bottom: .8rem;
    position: fixed;
    z-index: 1000;
    min-width: 100%;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }

    p {
        font-size: 1.8rem;
        font-weight: 700;
    }

    .menu {
        display: flex;
        justify-content: space-between;

            a {
                color: #fff;
                text-decoration: none;
                padding: 1.2rem;
                position: relative;

                &:after {
                    content: '';
                    background-color: transparent;
                    height: .1rem;
                    position: absolute;
                    left: 5rem;
                    right: 5rem;
                    transition: background-color .2s ease-in, left .4s ease-in-out, right .4s ease-in-out;
                }

                &:after,
                &:after {
                    bottom: 15%;
                }

                &:hover:before,
                &:focus:before,
                &:hover:after,
                &:focus:after {
                    background-color: #fff;
                    left: 1.2rem;
                    right: 1.2rem;
                }
            }
    }
}

// ajouter le scroll vers le haut pour corriger les ancres
section {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#about {
    min-height: 85vh; // à améliorer avec variable JS
    background-image: url('../img/portrait.jpg');
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;

        h1 {
            font-size: 8rem;
            color: $primary;
            line-height: 1.2;

                em {
                    color: $secondary;
                    font-style: italic;
                }

                span {
                    display: block;
                }
        }

        pre {
            font-size: 1.4rem;
        }

        .information {
            position: absolute;
            top: 15%;
            right: 2%;
        }
}

.information {
    &>li {
        height: 6rem;
        width: 6rem;
        background-color: $primary;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 6rem;
        color: transparent;
        line-height: 1.2;
        transition: all .3s ease-in-out;

            &:hover ul,
            &:focus ul {
                display: block;
                color: #fff;
            }

            &:hover,
            &:focus {
                width: 15rem;
                border-radius: 4em;
            }
    }

    li svg {
        fill: #fff;
        position: relative;
    }

    li ul {
        display: none;
        margin-left: 2rem;
        transition: color 1s ease-in; // c'est tricher ?
    }
}

.resume {
    background-color: $primary;
    color: #fff;
    text-align: center;
}